{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <h2 class="headline">
            {{ .Date.Format "January 2, 2006" }}
            <br>
            {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
            {{ range . }}
            <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            {{ end }}
            {{ end }}
            {{ end}}
        </h2>
    </header>
    <section id="post-body">
        <i class="fab fa-github-square"></i>
        {{ .Content }}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
        <img class="avatar" src="{{ "images/avatar.png" | absURL }}">
        {{ with .Site.Params.twitter }}</a>{{ end }}
    <div>
        <span class="dark">{{ .Site.Params.name }}</span>
        <span>{{ .Site.Params.aboutAuthor }}</span>
        {{ with .Site.Params.twitter }}
        <span>Got questions? Want to discuss further? Get in touch on Twitter: <a
                href="https://twitter.com/{{ . }}">@BillGlover</a></span>
        {{ end }}
    </div>
</footer>

{{ partial "latest-posts.html" . }}
{{ end }}