# ignore generated content
public/*
resources/*

# ignore build files
.hugo_build.lock
*.bak

# ignore OS files
.DS_Store

# Project directory
.vscode/

# Ignore Logs
logs/*

# ignore images in content
content/**/*.png
content/**/*.jpg

static/images/**/*.png
static/images/**/*.jpg
static/video/**/*.mp4

# needs to be clarified
static/.well-known
themes/wip/static/lightbox2-2.11.4
