<!-- layouts/shortcodes/image_fullsize.html -->
{{- $imageSrc := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $image := resources.Get $imageSrc -}}

{{- $thumb := $image.Resize "800x" -}}  <!-- Thumbnail generieren: 800px Breite -->

{{ $splitPath := split $image.Permalink "/" }}
{{ $filename := index $splitPath (sub (len $splitPath) 1) }}



<a href="{{ $image.Permalink }}">
	<img src="{{ $thumb.Permalink }}"
     alt="{{ $alt }}"
     style="cursor:pointer;"
     title="Click for full resolution">
	</a>
{{ if isset .Params "license" }}
    {{ partial "cc-license.html" (dict "license" .Params.license "title" $filename "workURL" $image.Permalink "author" $.Site.Params.Author "authorURL" $.Site.BaseURL) }}
{{ else }}
    {{ with $.Site.Params.photolicense }}
    {{ partial "cc-photo-license.html" (dict "license" $.Site.Params.photolicense "title" $filename "workURL" $image.Permalink "author" $.Site.Params.Author "authorURL" $.Site.BaseURL) }}
    {{ end }}
{{ end }}
