{{ define "main" }}

<article class="h-entry">
    <header>
        <h1 class="p-name">{{ .Title }}</h1>
        <section class="meta">
            {{ $dataFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
            <span><a class="u-url u-uid" href="{{ .RelPermalink | absURL }}">Published</a> by <span class="p-author">{{ .Site.Params.Author.Name }}</span> on <time datetime="{{ .Date }}" itemprop="datePublished" class="dt-published">{{ .Date.Format $dataFormat }}</time></span>
            {{ if (and .Site.Params.showUpdated (ne .Lastmod .Date)) }}
            <span>(Updated: <time datetime="{{ .Lastmod }}" itemprop="dateModified" class="dt-update">{{ .Lastmod.Format $dataFormat }}</time>)</span>
            {{ end }}

            {{ with (.GetTerms "tags") }}
            <ul class="tags">
                {{ range . }}
                <li class="tag">
                    <span class="prefix">#</span>
                    <a href="{{ .Permalink }}" title="{{ .LinkTitle }}" class="p-category">{{ .LinkTitle }}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </section>

        {{- if .Params.series -}}
        {{- with index (.GetTerms "series") 0 -}}
        <section class="notice--info">
            <p>This post is part of the <a href="{{ .Permalink }}">{{ .LinkTitle }}</a> series.</p>
        </section>
        {{- end -}}
        {{- end -}}
    </header>

    <main itemprop="articleBody" class="md e-content">
        {{ block "content" . }} {{- .Content }} {{- end }}
    </main>

    <footer style="border-bottom: none; margin-bottom: 1em; padding-top: 3em;">
        <header style="background-color: var(--item-bg); border-bottom: none; margin: -1em; padding: 12px 24px; border-radius: 1em; margin-bottom: 1em;">
            <h2 style="margin: 0;">Mentions</h2>
            <p>Respond to this post on your own site. If you do, 
            <a href="https://webmention.io/billglover.me/webmention">send me a webmention</a> here. Find out 
            more about webmentions on the <a href="https://indieweb.org/Webmention">IndieWeb</a>.</p>
        </header>
        
        {{ partial "webmentions.html" .}}
    </footer>
</article>
{{- end }}

{{ define "header" }}
{{- partial "header" . -}}
{{ end }}