<footer class="site-footer">
    {{ if (or (.Params.footer) (not (isset .Params "footer"))) }}
        <section class="md">
            You can find me as <a href="https://fosstodon.org/@billglover" rel="me">@BillGlover</a> 
            on Mastodon. <a href="mailto:bill@billglover.co.uk">Email me</a>, or find me <a href="/contact">elsewhere</a>.
        </section>
        {{ with .Site.Params.copyright }}
        <section class="copyright">
            {{ . }}
        </section>
        {{ end }}
    {{ end }}
</footer>