<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- with .Page.Title }}<title>{{ . }}</title>
    {{- else -}}
    {{- with .Site.Title }}<title>{{ . }}</title>{{ end -}}
    {{ end -}}
    {{ with .Page.Description }}<meta name="description" content="{{ . }}">
    {{- else -}}
    {{- with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ end -}}
    
    {{ template "_internal/opengraph.html" . }}

    {{- with $.Resources.ByType "image" -}}
    {{- range first 6 . }}
    {{ $image := .Process "fit 640x640 webp photo "}}
    <meta property="og:image" content="{{ $image.RelPermalink | absURL }}" />{{ end -}}
    {{- end -}}

    <link rel="stylesheet" href="/css/layout.css" crossorigin="anonymous" media="screen">

    <link rel="shortcut icon" type="image/png" href="{{ "img/favicon-32x32.png" | absURL }}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{{ "img/favicon-32x32.png" | absURL }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ "img/favicon-32x32.png" | absURL }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ "img/favicon-16x16.png" | absURL }}" sizes="16x16" />
    {{ if .Site.Params.relMe }}
        {{ range $key, $val := .Site.Params.relMe }}
        <link rel="me" href="{{ $val }}" />
        {{ end }}
    {{ end }}

    {{ if .Site.Params.plausible }}
    {{ $url := urls.Parse (.Site.BaseURL) }}
    <script defer data-domain="{{ $url.Host }}" src="{{ .Site.Params.plausible }}"></script>
    {{ end }}

    {{ if .Params.asciinema }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}asciinema/asciinema-player.css" />
    <script src="{{ .Site.BaseURL }}asciinema/asciinema-player.js"></script>
    {{ end }}

    <!-- alternative formats -->
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
