 <section>
    {{ $target := urls.JoinPath .Site.Params.Webmention.BaseURL .Page.RelPermalink }}
    {{ $data := dict }}
    {{ $url := (print .Site.Params.Webmention.Server "?target=" $target "&sort-by=published" "&sort-dir=up") }}
    {{ with resources.GetRemote $url }}
    {{ with .Err }}
        {{ errorf "%s" . }}
    {{ else }}
        {{ $data = . | transform.Unmarshal }}
    {{ end }}
    {{ else }}
    {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}

    {{ range $data.children }}
    <div class="u-comment h-cite">
        {{ $type := index . "wm-property" }}
        {{ if (eq $type "in-reply-to") }}
        {{ $t := time.AsTime .published }}
            <p>
                ↩️ <a class="u-author h-card" href="{{ .author.url }}">{{ .author.name }}</a> 
                replied on 
                <time datetime="{{ .published }}" class="dt-published"><a class="u-url" href="{{ .url }}">{{ time.Format "2 Jan 2006" $t }}</a></time>
            </p>
            <span style="display: block; border-left: 2px solid white; padding-left: 12px;">{{ .content.html | safeHTML }}</span>
        {{ else if (eq $type "like-of") }}
            <p>
                💖 <a class="u-author h-card" href="{{ .author.url }}">{{ .author.name }}</a> 
                <a class="u-url" href="{{ .url }}">liked</a> this post.
            </p>
        {{ else if (eq $type "repost-of") }}
            <p>
                🔁 <a class="u-author h-card" href="{{ .author.url }}">{{ .author.name }}</a> 
                <a class="u-url" href="{{ .url }}">shared</a> this post.
            </p>
        {{ end }}
    </div>
    {{ end }}

</section>