{{ partial "header.html" . }}
<main class="post">
	<article>
		<header>
			<h1>{{ .Title }}</h1>
			<time> {{ .Date.Format "January 2, 2006" }} </time>
		</header>
		<section>
			{{ .Content }}
		</section>

		<footer class="clearfix">
			{{ with .Site.Social.twitter }}<a href="{{ . }}">{{ end }}
			<img src="{{ .Site.BaseURL }}images/avatar.png">
			<div>
				<span class="dark">{{ .Site.Params.author }}</span>
				<span>{{ .Site.Params.description }}</span>
			</div>
			{{ with .Site.Social.twitter }}</a>{{ end }}
		</footer>

		{{ if .Params.categories }}
		<section class="tags">
			<ul>
				Posted in: 
				{{ range .Params.categories }}<li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>{{ end }}
			</ul>
		</section>
		{{ end }}

	</article>
</main>
{{ partial "footer.html" . }}