{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
    {{.Content}}
</header>
<section>
        {{ range .Pages.GroupByDate "Jan 2006" }}
        <h4>{{ .Key }}</h4>
        <ol class="photo-list">
            {{ range .Pages }}
              {{ $post := .Permalink }}
              {{ range $index, $image := .Params.images }}
                  <!-- Automatisch ein Thumbnail erstellen und anzeigen -->
                  {{ $resource := resources.Get $image }}
                  {{ if $resource }}
                     {{ $thumb := $resource.Resize "x480" }}  <!-- Thumbnail erzeugen -->
                     {{ if eq $index 0 }}  <!-- Prüft, ob der Index 0 ist, also das 1. Bild -->
                     <li>
                     <a href="{{ $post }}">
                     <img src="{{ $thumb.RelPermalink }}">
                     </a>
                     </li>
                     {{ end }}
                  {{ else }}
                    <p>Bild konnte nicht geladen werden.</p>
                  {{ end }}
              {{ end }}
              <li></li>
            {{ end }}
        </ol>
        {{ end }}
    </section>
<footer></footer>
{{- end }}

{{ define "header" }}
{{- partial "header" . -}}
{{ end }}
