.md p {
    padding: 0.5rem 0;
    margin: 0 0;
}

blockquote {
    font-style: italic;
    border-left: 3px solid var(--color-secondary);
    padding-top: 0 !important;
    padding-left: 1rem;
}

blockquote > p:first-child {
    padding-top: 0 !important;
}

.md pre {
    display: block;
    overflow-x: auto;
    white-space: pre;
    padding: 0.5rem 0.5rem;
    line-height: 1.4;
}

td, th {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 1px solid var(--color-secondary);
    text-align: left;
    font-weight: normal;
}

th {
    background-color: var(--color-accent-1-light);
    font-weight: 600;
}

table {
    border-collapse: collapse;
}